<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <!--    菜品分页查询-->
    <select id="selectPage" resultType="com.sky.vo.SetmealVO">
        select s.*, c.name categoryName from sky_take_out.setmeal s left outer join sky_take_out.category c on s.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                s.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
        </where>
        order by s.update_time desc
    </select>


    <!--    批量删除套餐-->
    <delete id="deleteByIds">
        delete from sky_take_out.setmeal s where s.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

<!--    修改套餐-->
    <update id="update">
        update sky_take_out.setmeal s
        <set>
            <if test="categoryId != null">
                s.category_id = #{categoryId},
            </if>
            <if test="description != null">
                s.description = #{description},
            </if>
            <if test="image != null and image != ''">
                s.image = #{image},
            </if>
            <if test="name != null and name != ''">
                s.name = #{name},
            </if>
            <if test="price != null">
                s.price = #{price},
            </if>
            <if test="status != null">
                s.status = #{status}
            </if>
        where s.id = #{id}
        </set>
    </update>

<!--    根据ids停售套餐-->
    <update id="stopByIds">
        update sky_take_out.setmeal s set s.status = 0 where s.id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </update>

    <!--    根据ids查询套餐起售状态-->
    <select id="selectStatusByIds" resultType="java.lang.Integer">
        select status from sky_take_out.setmeal where id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>
</mapper>
